---
layout: default1
---
















<ul id="category-posts">
	<h2>{{ page.title }}</h2>
  {% for post in site.posts %}
    {% if post.categories contains page.category %}
      <li id="post-{{ post.id }}">
        <a href="{{ post.url }}">
          {% if post.image %}
            <img src="{{ post.image }}" alt="{{ post.title }}" id="post-image-{{ post.id }}" class="post-image">
          {% endif %}
          <br />{{ post.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>






